:root {
/*text variables*/
  --font-primary: 'Montserrat', sans-serif;

/*color variables*/
  --color-primary-dark: #280031;
  --color-primary: #26093A;
  --color-accent: #FC2BEE;
  --color-purple: #8F0DFF;
  --color-white: #FFFFFF;
}