

.homePage {
  display: flex;
  align-items: center;
  flex-direction: column;
 
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: auto;   
    z-index: -1;
  }

  .title{
    padding-top: 5%;
    padding-bottom: 5%;
    
  }
}
